<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
      <%= form.label :full_name, class:"col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= form.text_field :full_name, class:"form-control" %>
      </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :shipping_address, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_area :shipping_address, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :phone, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_area :phone, class:"form-control" %>
    </div>
  </div>

  <% if current_admin_user %>
  <div class="form-group row">
    <%= form.label :order_status, class:"col-sm-2 col-form-label" %>
    <div class="col-sm-8">
      <%= form.text_area :order_status, class:"form-control" %>
    </div>
  </div>
  <% end %>
  
  <div class="form-group row">  
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <%= form.submit class:"btn btn-primary" %>
    </div>
  </div>
<% end %>
