
<div class="container mt">
 <h1> Order Details</h1>
</div>
<hr>
<div class="container mt">
<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @order.full_name %>
</p>

<p>
  <strong>Shipping address:</strong>
  <%= @order.shipping_address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</div>