<div class="container mt">
  <h1><%= @product.name %></h1>
</div>
<hr>
<p id="notice"><%= notice %></p>

<div class="container mt">

<p>
  <strong>Count:</strong>
  <%= @product.count %>
</p>

<p>
  <strong>Small desc:</strong>
  <%= @product.small_desc %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Available:</strong>
  <%= @product.available %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>
</div>